<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body dir="rtl">
    <p style="font-size:18px;">
      <%= raw @notification.body %>
    </p>

    <p>
      قم بزيارة
      <a href="http://<%=ENV['WEB_CLIENT_HOST']%>">
        منشر
      </a>
    </p>
  </body>
</html>
