defaults: &defaults
  adapter: postgresql
  encoding: unicode
  database: manshar_development
  pool: 5
  username: <%= ENV.fetch('MANSHAR_DB_USERNAME', 'postgres') %>
  password: <%= ENV.fetch('MANSHAR_DB_PASSWORD', '') %>
  host: <%= ENV.fetch('MANSHAR_DB_1_PORT_5432_TCP_ADDR', 'localhost') %>
  port: <%= ENV.fetch('MANSHAR_DB_1_PORT_5432_TCP_PORT', '5432') %>

development:
  <<: *defaults

test:
  <<: *defaults
  database: manshar_test

production:
  <<: *defaults
  database: manshar_production
  url:  <%= ENV["DATABASE_URL"] %>
  pool: <%= ENV['MAX_THREADS'] || ENV["DB_POOL"] || 5 %>
