#################################################################################$
# Development
# These are development-only settings and should be overridden in .env.production
#################################################################################$

APP_HOST=manshar.dev
