.bundle
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
tmp
.rvmrc
.ruby-version
.ruby-gemset
.rbenv
.rbenv-gemsets
bundler_stubs/*
vendor/bundle/*
.pryrc
public/system/
public/uploads/
public/assets/

.env
.env.production

node_modules
bower_components
dist
.tmp
.sass-cache
vendor/assets/bower_components

dragonfly.log
