<form name="articleForm" class="manshar-article">

    <div class="manshar-article-image-container card" ng-class="{'manshar-article-nocover': !article.cover_url}" manshar-cover url="{{article.cover_url}}">
      <div class="dimmer" ng-show="article.cover_url"></div>

      <div class="manshar-article-header tray header">

        <div class="title">
          <input
            type="file"
            manshar-file
              file-model="article.cover"
              preview-url="article.cover_url"
            analytics-on="click"
              analytics-event="Pick Article Cover"
          />

          <h1
            name="myWidget"
            class="manshar-editor"
            grande-editor
              rtl="true"
              placeholder="عنوان المقال"
              mode="inline"
              max-length="100"
              ng-model="article.title"
              required
            >
          </h1>

          <h2
            class="manshar-editor"
            grande-editor
              rtl="true"
              placeholder="عنوان المقال الفرعي"
              mode="inline"
              max-length="200"
              ng-model="article.tagline"
            >
          </h2>

        </div>
      </div>

    </div>

  <div class="article-content-container tray">
    <article
      class="manshar-editor"
      grande-editor
        rtl="true"
        placeholder="اكتب مقالك هنا"
        mode="rich"
        ng-model="article.body"
        required
      >
    </article>

  </div>
</form>


<div class="metabar tray">
  <div class="manshar-controls">
    <span class="status" ng-show="!isSaving">
      محفوظ كمسودة
    </span>
    <span class="status" ng-show="isSaving">
      يتم حفظ المقال...
    </span>
    <button class="action-button" ng-click="saveArticle(article, true)" ng-disabled="inProgress" ng-class="{'in-progress': inProgress == 'publish'}">
      <span>نشر</span>
    </button>
    <button class="action-button" ng-click="deleteArticle(article)" ng-if="article.id" ng-disabled="inProgress" ng-class="{'in-progress': inProgress == 'delete'}">
      <i class="fa fa-trash-o"></i>
    </button>
    <button class="action-button" ng-click="cancel()" ng-disabled="inProgress" ng-class="{'in-progress': inProgress == 'cancel'}">
      <i class="fa fa-arrow-left"></i>
    </button>
  </div>
</div>
