<form class="article-edit-form" name="articleForm">
  <div class="article-container">
    <div class="article-line"></div>

    <div class="single-article">
        <div class="manshar-article">
          <div class="article-container tray">
            <div
              class="manshar-editor"
              carbon-editor
                rtl="true"
                ng-model="article.json_model"
                on-change="onChange(editor)"
                required
              >
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="container content-container"> <!-- 700px centered -->
    <div class="row clearfix">
      <div class="content-wrapper editor">
        <h3 class="section-title">
          <i class="circle-icon fa fa-th-large"></i>
          <a ng-click="changeTopic()">
            <span ng-if="article.published">نشرت </span>
            <span ng-if="article.topic">في {{article.topic.title}}</span>
            <span ng-if="!article.topic">اختر موضوع وفئة لمقالك</span>
          </a>
          <a ng-click="changeTopic()">
            . <span class="text-red">تعديل الفئة</span>
          </a>
          <a ng-click="saveArticle(article, true)" ng-disabled="inProgress" ng-class="{'in-progress': inProgress == 'publish'}">
            . <span class="text-red">نشر</span>
          </a>
        </h3>

        <div category-topic-picker visible="visible"></div>

        <div class="metabar tray">
          <div class="manshar-controls">
            <h3 class="section-title">
              <i class="circle-icon fa" ng-class="{'fa-file-o': !isSaving, 'fa-floppy-o': isSaving}"></i>
              <span class="label ng-hide" ng-hide="isSaving">
                محفوظ كمسودة
              </span>
              <span class="label ng-hide" ng-show="isSaving">
                يتم حفظ المقال...
              </span>
            </h3>

            <h3 class="section-title action-button" ng-click="deleteArticle(article)" ng-disabled="inProgress" ng-class="{'in-progress': inProgress == 'delete'}">
              <i class="circle-icon fa fa-trash-o"></i>
              <span>
                حذف المقال
              </span>
            </h3>

            <h3 class="section-title action-button" ng-click="cancel()" ng-disabled="inProgress" ng-class="{'in-progress': inProgress == 'cancel'}">
              <i class="circle-icon fa fa-arrow-left"></i>
              <span>
                عودة
              </span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
