<div class="manshar-article">

    <div class="manshar-article-image-container" ng-class="{half: !article.cover_url}" manshar-cover url="{{article.cover_url}}" ng>

      <div class="manshar-article-header">

        <input
          type="file"
          manshar-file
            file-model="article.cover"
            preview-url="article.cover_url"
          analytics-on="click"
            analytics-event="Pick Article Cover"
        />

        <h1
          class="manshar-editor"
          grande-editor
            rtl="true"
            placeholder="عنوان المقال"
            mode="inline"
            max-length="100"
            ng-model="article.title"
          >
        </h1>

        <h2
          class="manshar-editor"
          grande-editor
            rtl="true"
            placeholder="عنوان المقال الفرعي"
            mode="inline"
            max-length="200"
            ng-model="article.tagline"
          >
        </h2>

      </div>

    </div>

  <div class="article-content-container">
    <article
      class="manshar-editor"
      grande-editor
        rtl="true"
        placeholder="اكتب مقالك هنا"
        mode="rich"
        ng-model="article.body"
      >
    </article>

    <div class="manshar-controls">
      <button ng-click="saveArticle(article, true)">نشر</button>
      <button ng-click="saveArticle(article, false)">حفظ مسودة</button>
      <button ng-click="deleteArticle(article)">حذف</button>
    </div>

  </div>

</div>
