<div class="manshar-article">

  <div class="manshar-article-image-container card" manshar-cover url="{{article.cover_url}}" ng-class="{'manshar-article-nocover': !article.cover_url}">

    <div class="manshar-article-header tray header">
      <div class="title">
        <a ng-href="/#!/profiles/{{article.user.id}}">
          <div class="author-details">
            <img ng-src="{{article.user.thumb_url}}" />
            <div class="author-name">
              {{article.user.name}}
            </div>
          </div>
        </a>
        <h1>{{article.title}}</h1>
        <h2>{{article.tagline}}</h2>
      </div>
    </div>

  </div>

  <div class="article-content-container tray">
    <article ng-bind-html="article.body" highlight-code>
    </article>

  </div>

</div>

<div class="metabar tray">
  <div class="manshar-controls">
    <button ng-click="editArticle(article.id)" ng-show="isOwner(currentUser, article)">
      <i class="fa fa-pencil"></i>
    </button>
  </div>
</div>