<div class="article-container new-model" ng-if="!article.body">

  <div class="article-line"></div>

  <div class="article-meta meta-data">
    <span class="reading-time">
      {{article.reading_time | timeToRead}}
    </span>
  </div>


  <div class="single-article">
    <div class="manshar-article">
      <div class="new-version">
        <article
          id="article-body"
          article-renderer
            ng-model="article.json_model"
          image-zoom
          highlight-code>
        </article>

        <div anchored-comments
          article="article"
          guid-elements-container-id="article-body"
          guid-attribute="name"
          selector="section [name]:not(.carbon-layout):not(ul):not(ol)"
          class="comments-container">
        </div>
      </div>
    </div>
  </div> <!-- single-article -->
</div>

<div class="container content-container legacy-article-container">
  <div class="row clearfix">
    <div class="content-wrapper">

      <ng-include
          ng-if="article.body"
          src="'views/partials/_article_legacy.html'"></ng-include>

      <div class="section-title text-small">
        <a class="action-button"
          ng-click="editArticle(article.id)"
          ng-if="isOwner(user, article)"
          analytics-on="click"
            analytics-event="click"
            analytics-category="UI"
            analytics-label="Edit Button in Article Page - {{article.title}}"
            analytics-value="edit-{{article.id}}">

          <i class="fa fa-pencil circle-icon"></i>
          <span ng-if="article.body">
            هذه المقالة قديمة ولا يمكن تعديلها باستخدام المحرر الجديد.
          </span>
          <span ng-if="!article.body">تعديل</span>
          <span ng-if="!article.published">(المقال غير منشور حاليا)</span>
        </a>
      </div>

      <div class="article-author">
        <a class="meta-thumb" ui-sref="app.publishers.profile.user.published({userId: article.user.id})">
          <img ng-src="{{article.user.thumb_url}}" />
        </a>

        <a ui-sref="app.publishers.profile.user.published({userId: article.user.id})">
          <h3>{{article.user.name || 'غير معروف'}}</h3>
        </a>

        <p>{{article.user.bio || 'غير معروف'}}</p>
      </div>

      <div class="published-meta" style="border-right: 1px solid {{article.topic.category.color}}">
        <span ng-if="article.topic">
          <span>منشور في</span>
          <a ng-show="article.topic" ui-sref="app.categories.topic.articles.list({ categoryId: article.topic.category.id, topicId: article.topic.id})">
            <span style="color: {{article.topic.category.color}}">{{article.topic.title || 'غير محدد'}}</span>
          </a>.
        </span>
        <span>{{article.published_at | date:'fullDate'}}</span>
      </div>

      <div class="article-share section" ng-if="article">
        <p class="action-button recommend-button long-form" recommend-button article="article"
            analytics-on="click"
            analytics-event="click"
            analytics-category="UI"
            analytics-label="Recommend Button in Article Page - {{article.title}}"
            analytics-value="recommend-{{article.id}}">
        </p>

        <h3 class="section-title">
          <i class="fa fa-share-alt circle-icon"></i>
          <div ng-include="'views/partials/_sharing_buttons.html'" ng-hide="article.loading">
          </div>
        </h3>
      </div>

      <div class="articles">
        <h3 class="section-title">
          <i class="fa fa-file-text-o circle-icon"></i>اقرأ أيضاً
        </h3>

        <div ng-include="'views/partials/_articles_list.html'"></div>

        <a href="/">
          <h3 class="section-title action-button">
            <i class="fa fa-home circle-icon"></i>عد للصفحة الرئيسية
          </h3>
        </a>
      </div> <!-- .articles -->
    </div>

  </div>
</div> <!-- content-container -->
