<div>
  <div ng-show="!user.reset_password_token">
    <div ng-include="'views/partials/_reset_form.html'"></div>
    <p class="form-info">
      <a href="/signup" class="signup-link">سجل حساب جديد</a> أو
      <a href="/login" class="signup-link">سجل الدخول</a>
    </p>
  </div>
  <div class="form-div">
    <form id="login-form" ng-submit="update(user)" name="loginForm" ng-show="user.reset_password_token">

      <label>
        <input
          type="password"
          ng-model="user.password"
          required
          placeholder="كلمة المرور الجديدة"
        />
      </label>

      <label>
        <input
          type="password"
          ng-model="user.password_confirmation"
          required
          placeholder="تأكيد كلمة المرور"
        />
      </label>

      <button
        type="submit">
        تغيير كلمة المرور</button>
      <p class="form-info">
        <a href="/signup" class="signup-link">سجل حساب جديد</a> أو
        <a href="/login" class="signup-link">سجل الدخول</a>
      </p>
    </form>

  </div>
</div>
