<div class="container content-container">
  <div class="row clearfix">
    <div class="content-wrapper">
      <div class="write-box">
        <a ui-sref="app.articles.new"><p> أكتب هنا... </p></a>
      </div>

      <div class="category-info">
        <h3 class="section-title">
          <i class="circle-icon fa {{topic.category.icon_cssclass}}" style="background-color:{{topic.category.color}}"></i>
          {{topic.title}}
        </h3>
      </div>

      <div ng-include="'views/partials/_stream.html'"></div>

      <div class="more-articles section">
        <h3 class="section-title" ng-click="loadMoreArticles()" ng-disabled="inProgress == 'load-more'" ng-show="hasNext"> <i class="circle-icon fa fa-refresh"></i> </h3>
      </div> <!-- more-articles -->
    </div> <!-- .content-wrapper -->
  </div> <!-- row -->
</div> <!-- content-container -->
