<div class="container content-container">
  <div class="row clearfix">
    <div class="content-wrapper">
      <div class="write-box">
        <a ng-click="createNewArticle()">
          <p> عبر عن رأيك. شارك خبراتك. اكتب عن تجاربك. دوّن بالعربية.</p>
          <p> اضغط هنا لتبدأ الكتابة... </p>
        </a>
      </div>

      <div class="category-info">
        <h3 class="section-title">
          <a ui-sref="app.categories.articles.list({categoryId: topic.category.id, order: order || 'popular'})" title="{{topic.category.title}}">
            <i class="circle-icon fa {{topic.category.icon_cssclass}}" style="background-color:{{topic.category.color}}"></i>
          </a>
          {{topic.title}}
        </h3>

        <a class="section-title section-subtitle"
            ui-sref="app.categories.articles.list({categoryId: topic.category.id, order: order || 'popular'})">
          <i class="circle-icon fa fa-arrow-right" style="background-color:{{topic.category.color}}"></i>
          {{topic.category.title}}
        </a>
      </div>

      <div ng-include="'views/partials/_articles_order_tabs.html'"></div>

      <div ui-view class="tabs-content"></div>

    </div> <!-- .content-wrapper -->
  </div> <!-- row -->
</div> <!-- content-container -->
