<div class="main-comment-box anchored-comment-box"
    ng-show="activeGuid"
    click-outside="clickedOutside()">

  <div>
    <textarea ng-show="currentUser"
      ng-model="newComment"
      ng-keypress="handleKeypress($event)"
      placeholder="اكتب تعليق"></textarea>
  </div>
  <div class="warning-note" ng-show="!currentUser.id">
    يجب عليك
    <a ng-href="login/?prev=/articles/{{article.id}}"> تسجيل الدخول</a>
    لترك تعليق!
  </div>

  <ul>
    <li ng-repeat="comment in comments|filter:{guid: activeGuid}">
      <p class="author">
        {{comment.user.name}}
      </p>
      <p>
        {{comment.body}}
      </p>
      <span class="date">
        {{comment.created_at | date:'EEEE, d MMMM'}}
      </span>
      <div class="actions">
        <a class="delete-button" ng-click="deleteComment(comment)"
            ng-show="$root.isOwner(currentUser, comment) || $root.isOwner(currentUser, article)">
          <i class="fa fa-trash-o"></i>
        </a>
      </div>
    </li>
  </ul>
</div>
