<div class="anchored-comment-box"
    ng-class="{'active': isActive || commentsCount, 'inactive': !(isActive || commentsCount)}"
    analytics-on="mouseenter"
      analytics-event="Hover"
      analytics-category="UI"
      analytics-label="Anchor Comments"
      analytics-value="commentsCount">
  <div>
    <span class="comments-icons-container">
      <div class="new-button-container comment-icon" ng-if="!latestComments[0]">
        <div class="comment-icon-clipper">
          <span>+</span>
        </div>
      </div>

      <div class="comment-icon" ng-repeat="comment in latestComments">
        <div class="comment-icon-clipper">
          <img ng-src="{{comment.user.thumb_url}}" width="24"/>
        </div>
      </div>

      <div class="count-container comment-icon" ng-if="commentsCount && commentsCount > commentsCountToShow">
        <div class="comment-icon-clipper">
          <span>{{commentsCount}}</span>
        </div>
      </div>
    </span>
  </div>
</div>
