<p>مرحباً <%= @resource.email %>!</p>

<p>طلب أحدهم بتغيير كلمة المرور الخاصة بحسابك على منشر.</p>

<p>إذا لم تكن ذلك الشخص، فيمكنك تجاهل هذه الرسالة.</p>

<p>إذا كنت أنت من طلبت تغيير كلمة المرور، يمكنك <a href="http://<%=ENV['WEB_CLIENT_HOST']%>/accounts/reset_password/<%=@token%>">إكمال العملية هنا</a></p>
