<style type="text/css">
  .notifications tr.notification td {
    background-color: #F44336;
  }
  .notifications tr.notification td a {
    color: #F44336;
  }
  .notifications tr.notification .comment {
    text-align: center;
  }
  .notifications tr.notification .comment a {
    font-size: 30px;
    padding: 20px;
    display: block;
    margin: 20px;
  }
</style>
<tr class="notification">
  <td>
    <p class="meta">مرحباً <a><%= @resource.email %></a></p>
    <p>
      طلب أحدهم بتغيير كلمة المرور الخاصة بحسابك على منشر.
    </p>
    <p>
      إذا لم تكن ذلك الشخص، فيمكنك تجاهل هذه الرسالة.
    </p>
    <p class="comment">
      إذا كنت أنت من طلبت تغيير كلمة المرور، يمكنك <%= link_to 'إكمال العملية هنا', edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %>
    </p>
  </td>
</tr>
<tr class="spacer"></tr>
