<div class="container content-container legacy-article-container">
  <div class="row clearfix">
    <div class="content-wrapper">
    	<div class="message-container">
    		<h1>الصفحة المطلوبة غير موجودة.</h1>
    		<img src="https://media.giphy.com/media/26tPbfJWy9bWONi0w/giphy.gif">
    	</div>
      <div class="articles">
        <a href="/">
          <h3 class="section-title action-button">
            <i class="fa fa-home circle-icon"></i>عد للصفحة الرئيسية
          </h3>
        </a>
      </div> <!-- .articles -->
    </div>
  </div>
</div> <!-- content-container -->
