<div class="metabar tray">
  <div class="manshar-controls">
    <button ng-click="newArticle()" ng-show="isLoggedIn"><i class="fa fa-pencil"></i></button>
  </div>
</div>

<header class="main-header">
  <div class="hero-unit tray">
    <h1>{{title}}</h1>
    <p class="manshar-tagline">{{tagline}}</p>
  </div>
</header>

<ul class="manshar-articles-list one-column tray">
  <li ng-repeat="article in articles" ng-click="showArticle(article.id)">

    <div class="article-details article-card card">
      <div class="header">
        <div class="image-cover" manshar-cover url="{{article.cover_url}}"></div>

        <div class="title">
          <div class="author-details">
            <img ng-src="{{article.user.thumb_url}}" />
            <div class="author-name">{{article.user.name}}</div>
          </div>
          <h1>{{article.title}}</h1>
          <h2>{{article.tagline}}</h2>
        </div>
      </div>
    </div>
  </li>
</ul>
