<div class="metabar tray">
  <div class="manshar-controls">
    <button ng-click="newArticle()" ng-show="isLoggedIn"><i class="fa fa-pencil"></i></button>
  </div>
</div>

<header class="main-header">
  <div class="hero-unit tray">
    <h1>{{title}}</h1>
    <p class="manshar-tagline">{{tagline}}</p>
  </div>
</header>

<ul class="manshar-articles-list one-column tray">
  <li ng-repeat="article in articles">
    <div class="article-details article-card card">
      <div class="header">
        <a ng-href="/#!/articles/{{article.id}}">
          <div class="image-cover" manshar-cover url="{{article.card_cover_url}}"></div>
        </a>

        <div class="title">
          <a ng-href="/#!/profiles/{{article.user.id}}">
            <div class="author-details">
              <img ng-src="{{article.user.thumb_url}}" />
              <div class="author-name">{{article.user.name}}</div>
            </div>
          </a>
          <a ng-href="/#!/articles/{{article.id}}">
            <h1>{{article.title}}</h1>
            <h2>{{article.tagline}}</h2>
          </a>
        </div>
      </div>
    </div>
  </li>
</ul>
