$red: #ca1504;

body {
  font-size: 14px;
}

.category-list {
  text-align: center;

  .card.category {
    cursor: pointer;
    width: 110px;
    height: 100px;
    padding: 1.6em 0;
    text-align: center;
    font-size: 0.8em;
    display: inline-block;
    vertical-align: middle;
    margin: 0.3em;

    i {
      font-size: 2em;
    }
  }
}

.topic-list {
  .card.topic {
    box-shadow: none;
    border: 1px solid;
    margin: 0.5em;
    cursor: pointer;
    width: auto;
    padding: 1em;
    text-align: center;
    display: inline-block;

    &:hover {
      background-color: #E1F5FE;
    }

    &.new-topic {
      display: block;
      padding: 1em 0.8em;
      .form-div {
        form {
          display: block;
        }
      }
    }
  }
}

.content-container {
  position: static;

  .article-author {
    padding: 30px 60px 0;
    min-height: 99px;
    img {
      right: -50px;
      width: 100px;
    }
  }
}

.logo {
  right: 50%;
  margin-right: -267px;
  top: 16px;

  span {
    display: inline-table;
    color: #C81916;
  }
}

.content-wrapper,
.row .left-column {
  padding-left: 0;
}

.article {
  .title {
    h2 {
      font-size: 21px;
    }

    h3 {
      font-size: 16px;
    }
  }
}

.single-article {
  .content-wrapper {
    min-height: 1px;
    padding: 0 15px;
  }

  p {
   margin: 15px 0;
  }

}
.article-share i {
  transition: all 0.3s;
}

.recommendation-button {
  .recommendation-count {
    font-size: 14px;
  }
}

@media(max-width: 700px) {
  .listing-types-tabs a {
    font-size: 12px;
  }
}

.profile-page {

  .listing-types-tabs {
    .section-title {
      display: inline-block;
    }

    .private-tabs {
      display: inline-block;
      margin-right: 0;
      a:first-child {
        margin-right: 0;
      }
    }
  }
}

.profile-info, .category-info {
  margin: 6px 0 40px;
  p {
    color: #777;
    font-size: 14px;
  }
}

.category-topics-picker {
  .card-list {
    overflow: visible;
    white-space: normal;
  }
}

.category-topics {
  position: absolute;
  left: 0;
  top: 116px;
  font-size: 12px;
  text-align: left;
  max-width: 100px;
  padding: 0;
  .card-list {
    height: auto;
    padding-left: 0;
    overflow: hidden;
    li {
      padding-left: 10px;
      border-left: 2px solid #aaa;
      margin: 5px 0;
      display: block;
      background: none;
      margin-left: 0;
      border-right: none;
      padding-right: 0;
       &:hover {
        border-color: #222;
        a { color: #222; overflow: hidden; }
      }
    }
    a {
      overflow: hidden;
      padding: 0;
      display: block;
      color: #ddd;
    }
    &:hover {
      a {
        color: #aaa;
      }
    }
  }
}

.article-container {
  > .article-meta {
    margin-right: -368px;
    right: 50%;
  }

  .carbon .layout-float-left,
  .carbon .layout-float-right,
  .carbon .layout-single-column {
    margin: 0 auto 0 auto;
    padding-right: 50px;
  }

  > .article-line {
    right: auto;
    left: 50%;
    margin-left: 250px;
  }

}

.single-article {
  article {
    blockquote {
      border-right: 4px solid #D9ECC2;
      color: #999;
      padding-right: 30px;
      margin-right: -32px;
    }
  }
}

.push-right {
  .article-container {
    > .article-meta {
      margin-right: -405px;
    }
  }
}

.publishers-page .author-block {
  width: 148px;
  height: 148px;
}

.article-stats {
  p {
    min-width: 80px;
    cursor: default;
  }
}

.anchored-comments-active {
  .legacy-article-container, .article-container.new-model {
    transform: translate3d(0,0,0);
  }
}

.new-model {
  .comments-container {
    right: calc(50% - 230px);
  }
}

.comments-container {
  .main-comment-box {
    width: 252px;
    right: -260px;
    @media (min-width: 720px) and (max-width: 1023px) {
      width: 130px;
      right: -138px;
    }
  }
  .anchored-comment-box {
    &.inactive {
      display: none;
    }

    &.active {
      display: block !important;
    }

    .comments-icons-container {

      .comment-icon {
        &.new-button-container {
          opacity: 1;
          font-size: 1em;
          color: #000;
          line-height: 1;

          .comment-icon-clipper {
            border-radius: none;
            span {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

body.manshar {
  .toolbelt-toolbar {
    font-size: 14px;
    max-width: 250px;
  }
}

.menu-wrapper {
  ul {
    a {
      padding: 2px 0;
    }
  }
}
