// /* For large displays (like medium tablets and up) */
//
// body {
//   font-size: 18px;
//   margin: 0;
//   padding: 0;
// }
//
// .site-nav {
//   .profile-badge {
//     .new-button {
//       display: none;
//     }
//
//     .drop {
//       &:hover {
//         .dropdown-contain{
//           top: 28px;
//
//           .dropOut {
//             opacity: 1;
//             margin-top: 8px;
//             margin-left: -18px;
//           }
//         }
//       }
//     }
//   }
// }
//
// .main-header {
//   .hero-unit {
//     z-index: 10;
//   }
// }
//
// .card-list {
//   .card {
//     width: 70%;
//   }
// }
//
// .load-more-button {
//   width: 300px;
// }
//
// .profile-list {
//   .write-new-button {
//     margin-right: 2em;
//   }
// }
//
// .users-card-list {
//   &.card-list {
//     .card {
//       width: 24%;
//       margin: 0.5em 0;
//       margin-right: 0.8%;
//
//       .header {
//         height: 12em;
//
//         .title {
//           a {
//             padding: 4em 1em;
//           }
//         }
//       }
//     }
//   }
// }
//
//
// .manshar-profile {
//   .avatar {
//     position: relative;
//
//     &.blured{
//       display: block;
//       position: absolute;
//       filter: blur(14px) brightness(0.75);
//     }
//   }
//
//   .title {
//     img {
//       display: block;
//       margin: 0 auto;
//       height: 300px;
//       margin-top: 100px;
//       box-shadow: 3px 3px 10px -2px #000;
//       border-radius: 1px;
//     }
//   }
// }
//
// .modal {
//   .content {
//     padding: 3em;
//   }
// }
//
// .manshar-article {
//
//   header {
//     .title {
//       h1 {
//         font-size: 2em;
//       }
//
//       .reading-time {
//         font-size: 0.8em;
//       }
//
//       h2 {
//         font-size: 1.6em;
//       }
//     }
//   }
//
//   .article-container {
//     transition: transform .3s;
//     &.anchored-comments-active {
//       transform: translateX(350px);
//     }
//
//     article {
//       font-size: 1.2em;
//       figure {
//         iframe {
//           height: 450px;
//         }
//       }
//       blockquote {
//         font-size: 1.1em;
//       }
//
//       h1 {
//         font-size: 1.75em;
//       }
//
//       h2 {
//         font-size: 1.4em;
//       }
//
//       p {
//         margin: 36px auto;
//         margin-top: 36px;
//       }
//     }
//   }
// }
//
// .article-meta {
//   text-align: center;
//   .meta-box {
//     text-align: right;
//     display: inline-block;
//     margin: 1em;
//
//     .meta-details {
//       &.card {
//         width: 350px;
//       }
//     }
//   }
// }
//
// .article-header {
//   .title {
//     h1 {
//       font-size: 2.1em;
//     }
//     h2 {
//       font-size: 1.5em;
//     }
//   }
// }
//
// .comments-container {
//   left: 20px;
// }
//
// .manshar-article-header {
//   .image-cover {
//     height: 15em;
//   }
// }
//
// .manshar-profile {
//   height: 100%;
// }
//
// .tabular {
//
//   &.categories-list {
//     width: 940px;
//     margin: 0 auto;
//     margin-top: 2em;
//   }
//
//   li {
//     list-style: none;
//   }
//
//   .form-div {
//     display: block;
//     width: auto;
//     text-align: right;
//     padding-bottom: 1em;
//
//     form {
//       display: block;
//
//       label {
//         margin: 0 5px;
//
//         &:first-child, &:last-child {
//           margin: 0;
//         }
//
//         &.file-field {
//           height: 50px;
//           width: 90px;
//           position: relative;
//
//           &.with-image {
//             input {
//               border: none;
//               opacity: 0.75;
//             }
//           }
//
//           img {
//             height: 50px;
//             width: 90px;
//           }
//
//           input {
//             position: absolute;
//             right: 0;
//             left: 0;
//             top: 0;
//             bottom: 0;
//             width: 100%;
//             padding: 2em 0.4em;
//           }
//
//         }
//       }
//
//       input, .input, textarea, button {
//         margin: 0;
//         display: inline-block;
//         vertical-align: top;
//         width: 240px;
//         height: 50px;
//
//         &.color-field, &.icon-class-field {
//           width: 80px;
//         }
//
//       }
//
//       .actions {
//         display: inline-block;
//
//         button {
//           width: auto;
//         }
//       }
//     }
//
//     &.category {
//       img {
//         width: 100px;
//       }
//     }
//   }
// }
//
// .category-list {
//   .card.category {
//     width: 180px;
//     height: 160px;
//     padding: 2em;
//
//     i {
//       font-size: 4em;
//     }
//   }
// }
//
// .topic-list {
//   .card.topic {
//     margin: 0.5em;
//     cursor: pointer;
//     width: auto;
//     padding: 1em;
//     text-align: center;
//
//     &:hover {
//       background-color: #E1F5FE;
//     }
//
//     &.new-topic {
//       width: 500px;
//       padding: 0.3em 0.8em;
//     }
//   }
// }
//
// .listing-types-tabs {
//   height: 50px;
//   bottom: 2.7em;
//   width: auto;
//
//   &.fixed {
//     width: auto;
//     margin-top: 0;
//   }
//
//   a {
//     span {
//       display: inline-block;
//     }
//
//     i {
//       display: none;
//     }
//
//     &.active {
//       i {
//         display: inline-block;
//       }
//     }
//
//     padding: .3em 1em;
//   }
// }
//
// // Media Queries.
// @media (min-width: 1280px) {
//   .site-nav {
//     .profile-badge {
//       .new-button {
//         display: block;
//       }
//     }
//   }
//
//   .terms-container {
//     .manshar-article {
//       width: 60%;
//       margin: 0 auto;
//     }
//   }
//
//   .main-header {
//     .hero-unit {
//       z-index: 10;
//     }
//   }
//
//   .tray {
//     padding: 0 10px;
//   }
//   .manshar-article {
//
//     .article-container {
//       transition: transform .3s;
//       &.anchored-comments-active {
//         transform: translateX(175px);
//       }
//     }
//
//   }
//
//   .comments-container {
//     left: 0;
//
//     .anchored-comment-box {
//       .icon-count-container {
//         top: 0;
//         left: 0;
//
//         span {
//           top: -6px;
//           font-size: 1em;
//         }
//       }
//     }
//   }
//
//   .card-list {
//     .card {
//       width: 50%;
//     }
//   }
//
//   .users-card-list {
//     &.card-list {
//       .card {
//         width: 19%;
//         margin: 0.5em 0;
//         margin-right: 0.8333333333%;
//
//         .header {
//           height: 15em;
//
//           .title {
//             a {
//               padding: 5.5em 1em;
//             }
//           }
//
//         }
//       }
//     }
//   }
//
// }

$red: #ca1504;

html {
  direction: rtl;
  /*height: 100%;*/
}

body {
  font-family: "Droid Arabic Naskh";
}

* {
  margin: 0;
  box-sizing: border-box;
}
.circle-icon, .icon, .large-icon {
  font-size: 12px;
  color: #fff;
  line-height: 25px;
  text-align: center;
}
.icon {
  color: #000;
}
.large-icon {
  font-size: 22px;
}

header {
  padding: 4px 0;
  background: rgba(255,255,255,0.95);
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 9;
  top: -48px;
  transition: 0.3s;
  border-bottom: 1px solid #f4f4f4;
  i {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: top;
  }
  .icon {
    font-size: 18px;
    cursor: pointer;
    &:before {
      line-height: 32px;
    }
    &:hover {
      color: $red;
    }
  }
  .listing-types-tabs, .section-title {
    margin: 4px 0;
  }
  .listing-types-tabs .section-title {
    margin-bottom: 0;
  }
  .pull-right {
    padding-left: 15px;
  }
  .to-top {
    float: left;
  }
  .header-content {
    position: relative;
    .pull-right {
      position: relative;
      z-index: 11;
    }
  }
  .header-icons {
    position: absolute;
    left: 8px;
    top:0;
  }
}

.menu-wrapper {
  width: 150px;
  background: #3d3e3f;
  height: 100vh;
  position: fixed;
  /*left: -150px;*/
  left: 0;
  top: 0;
  z-index: 1;
  color: #fff;
  overflow-y: auto;
  ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
    padding: 14px 0;
    i {
      display: inline-block;
      width: 26px;
      height: 26px;
      margin-left: 10px;
      vertical-align: top;
      text-align: center;
      line-height: 26px;
      &.profile-photo {
        background: red;
      }
    }
    a, li {
      color: #aaa;
    }
    a {
      padding-left: 10px;
      line-height: 26px;
      display: block;
      &:hover {
        color: #f4f4f4;
      }
    }
    li {
      margin: 2px 0;
      transition: .2s;
      &:hover {
        background: rgba(0,0,0,0.1);
      }
    }
    &.with-border {
      border-bottom: 1px solid rgba(255,255,255,0.1);
    }
  }
}

.categories-menu li {
  border-right: 2px solid;
  &:hover {
    border-right-width: 4px;
  }
}

.body-wrapper {
  background: #fff;
  min-height: 100vh;
  position: relative;
  z-index: 2;
  transition: left 0.4s;
  left: 0;
  overflow: hidden;
}

.menu-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 18px;
  cursor: pointer;
  z-index: 8;
  width: 26px;
  height: 26px;
}

.write-box {
  padding: 40px 0;
  p {
    padding: 0 15px;
    color: #b3b3b3;
  }
}

.container {
  width: 700px;
  margin: 0 auto;
}
.content-container {
  min-height: 100vh;
}

/* Clearfix */
.row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .row {
  display: block;
}
* html .row {
  height: 1%;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}

.logo {
  margin: 28px 0;
  text-align: left;
  padding-left: 15px;
  z-index: 9;
  position: relative;
  p {
    font-size: 10px;
    color: #777;
  }
}

.logo, .pull-right {
  width: 99px;
  float: right;
}

.row .left-column {
  float: left;
  padding: 0 15px;
}

.content-wrapper,
.row .left-column {
  border-right: 1px solid #f4f4f4;
  width: 601px;
}

.content-wrapper {
  /*margin-right: 100px;*/
  float: left;
  min-height: 100vh;
  transition: all 0.4s;
}

.article {
  padding: 0 15px;
  margin-bottom: 40px;
  border-right: 1px solid #03a9f4;
  right: -1px;
  position: relative;
}

h1, h2, h3 {
  font-weight: normal;
}
.article {
  a {
   color: #000;
  }
  .title {
    margin: 24px 0;
    h2 {
      font-size: 21px;
    }
    h3 {
      color: #777;
      font-size: 16px;
    }
  }
  &.red {
    border-color: #f44336;
  }
  &.green {
    border-color: #4c9b27;
  }
}

.meta-data {
  position: absolute;
  right: -130px;
  top: 52px;
  width: 130px; /* for larger than 767px and mobile 200px, from 700 to 1024 let it be 130px */
  text-align: left;
  padding-left: 15px;
}

.meta-data,
.category-topic,
.reading-time {
  font-size: 12px;
  color: #bbb;
}

.listing-types-tabs {
  /*padding: 0 15px;*/
  position: relative;
  top: 0;
  margin-bottom: 40px;
  z-index: 2;
  a {
    color: #b3b3b3;
    font-size: 16px;
    margin: 0 10px;
    &:hover, &.active {
      color: #ca1504;
    }
  }
}

.author-block img {
  width: 100%;
}
.category-block, .author-block {
  width: 98px;
  height: 98px;
  background: #ccc;
  margin-left: 2px;
  margin-bottom: 2px;
  font-size: 12px;
  color: #fff;
  position: relative;
  p {
    padding: 0 5px;
    text-align: center;
  }
}
.block {
  float: right;
  a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
  }
}
.category-block {
  /*display: table;*/
  text-align: center;
  i {
    display: block;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    position: relative;
    top: 0;
  }
  &:hover {
    cursor: pointer;
    i {
      font-size: 26px;
      top: -5px;
      text-shadow: 0px 2px 5px;
    }
  }
  &.category-1 {
    background: #d40041;
  }
  &.category-2 {
    background: #f44336;
  }
  &.category-3 {
    background: #8755ff;
  }
  &.category-4 {
    background: #03a9f4;
  }
  &.category-5 {
    background: #008e94;
  }
  &.category-6 {
    background: #27ae60;
  }
}
.category-content {
  padding-top: 32px;
  /*display: table-cell;
  vertical-align: middle;*/
}

.author-block {
  p {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 100%;
  }
  span {
    position: absolute;
    left: 10px;
    top: 10px;
  }
}

.dimmer {
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}


.section {
  padding-bottom: 40px;
}
.section-title {
  color: #b3b3b3;
  font-size: 16px;
  margin-bottom: 16px;
  position: relative;
  right: -13px;
  i {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background-color: #ca1504;
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
    top: 2px;
  }
  div {
    display: inline-block;
  }
}

.listing-types-tabs i {
  margin-left: 0;
}

.authors-page .author-block {
  width: 148px;
  height: 148px;
  overflow: hidden;
  .social-icons {
    bottom: -24px;
  }
}
  .authors-page .author-block.hovered p { /* to be changed in SASS */
    bottom: 34px;
  }
  .authors-page .author-block.hovered .social-icons { /* to be changed in SASS */
    bottom: 10px;
  }


.article-page .logo p {
  color: #ddd;
}
.single-article {
  padding: 0 15px;
  .content-wrapper {
    min-height: 1px;
    padding: 0 15px;
  }
  p {
   margin: 15px 0;
  }
}
.recommendation-button {
  cursor: pointer;
  display: inline-block;
  &:hover {
    color: #ca1504;
    i {
      transform: scale(1.4);
    }
  }
  .recommendation-count {
    position: absolute;
    right: -40px;
    text-align: left;
    width: 36px;
    line-height: 34px;
    color: #ca1504;
    font-size: 18px;
  }
}
.sharing-box {
  i:hover {
    transform: scale(1.4);
  }
}
  .full-width-photo {
    margin-left: -100%;
    margin-right: -100%;
    padding-left: 100%;
    padding-right: 100%;
    // background-image: url("../images/cover.jpg");
    // background-size: cover;
    // background-position: 50% 0;
    height: 600px;
    position: relative;
  }
  .content-centered-image {
    width: 100%;
  }
  .side-image {
    position: relative;
    width: 50%;
  }
  .left-side-image {
    float: left;
    left: -15px;
  }
  .right-side-image {
    float: right;
    right: -15px;
  }

  .article-author {
    padding: 0 15px;
    position: relative;
    right: -1px;
    color: #aaa;
    margin: 40px 0;
    min-height: 99px;
    h3 {
      font-size: 14px;
      display: inline;
    }
    p, div {
      font-size: 12px;
      margin-bottom: 20px;
    }
    img {
      position: absolute;
      right: -100px;
      top: 0;
      width: 99px;
    }
  }

  .paragraph {
    position: relative;
  }
  .comments {
    position: absolute;
    width: 148px; /* 130 + 16px for larger than 767px and mobile 200px, from 700 to 1024 let it be 130px */
    top: 0;
    right: -148px;
    font-size: 10px;
    text-align: left;
    padding-left: 30px;
    color: #bbb;
    z-index: 6;
    background: rgba(255,255,255,0.92);
  }
  .comment-content {
    display: none;
    padding-bottom: 10px;
  }
  /*.comments.expanded .comment-content {
    display: block;
  }*/
  .comment-text {
    font-size: 12px;
    color: #000;
  }
  .comment {
    position: relative;
    min-height: 10px;
    p {
      margin: 0;
    }
    .comment-image {
      position: absolute;
      width: 23px;
      height: 23px;
      background: red;
      border-radius: 50%;
      left: -26px;
      top: -2px;
      opacity: 0.5;
      cursor: pointer;
    }
  }
  .comment-form textarea {
    width: 100%;
    height: 40px;
    font-size: 14px;
    resize: none;
    border: none;
    border-bottom: 1px solid #f4f4f4;
    text-align: left;
    &:focus {
      outline: none;
    }
  }

@media(max-width: 700px) {
  .container {
    width: 100%;
  }
  .content-wrapper,
  .row .left-column {
    border-right: 1px solid #f4f4f4;
    margin-right: 36px;
    width: 100%;
    padding-left: 36px;
    float: none;
  }

  .row .right-column, .logo, header .pull-right {
    width: 36px;
  }

  .logo-square {
    display: none;
  }

  .listing-types-tabs a {
    color: #b3b3b3;
    font-size: 12px;
    margin: 0 3px;
  }
  .title h2 {
    font-size: 18px;
  }
  .title h3 {
    font-size: 15px;
  }
  .meta-data, .category-topic, .reading-time {
    font-size: 10px;
  }

  .logo {
    margin: 12px 0;
    width: 36px;
    height: 36px;
    background: #ca1504;
  }
  .logo p {
    display: none;
  }

  .authors-page .author-block {
    width: 136px;
    height: 136px;
  }

  .meta-data {
    transform: rotate(-90deg);
    right: -98px;
  }

  .single-article {
    font-size: 14px;
  }

}

.profile-page {
  position: relative;
}
.profile-page .articles {
  padding-top: 150px;
}
.profile-info {
  margin: 6px 0 40px;
  padding: 0 15px;
}
.profile-info p {
  color: #777;
  font-size: 14px;
}
.other-profiles {
  width: 900px; /* to be calculated (150 * number of items) */
  position: absolute;
  top: 0;
  right: 0;
  height: 150px;
  overflow: hidden;
}
.other-profiles .slider {
  position: relative;
  right: -100px;
}
.other-profiles .current .dimmer,
.other-profiles .current p,
.other-profiles .current span {
  display: none;
}
.other-profiles .current .arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -12px;
  border-left: 12px solid #fff;
  transform: rotate(45deg);
  border-top: 12px solid #fff;
  border-radius: 4px;
}

#typed-cursor {
  position: absolute;
  top: 20px;
  font-weight: 100;
  font-size: 5.5em;
  width: 8px;
  overflow: hidden;
  &.blinking {
    animation: 1s blink step-end infinite;
  }
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}