/* For large displays (like medium tablets and up) */

body {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.site-nav {
  .profile-badge {
    .new-button {
      display: none;
    }

    .drop {
      &:hover {
        .dropdown-contain{
          top: 28px;

          .dropOut {
            opacity: 1;
            margin-top: 8px;
            margin-left: -18px;
          }
        }
      }
    }
  }
}

.main-header {
  .hero-unit {
    z-index: 10;
  }
}

.card-list {
  .card {
    width: 70%;
  }
}

.load-more-button {
  width: 300px;
}

.profile-list {
  .write-new-button {
    margin-right: 2em;
  }
}

.users-card-list {
  &.card-list {
    .card {
      width: 24%;
      margin: 0.5em 0;
      margin-right: 0.8%;

      .header {
        height: 12em;

        .title {
          a {
            padding: 4em 1em;
          }
        }
      }
    }
  }
}


.manshar-profile {
  .avatar {
    position: relative;

    &.blured{
      display: block;
      position: absolute;
      filter: blur(14px) brightness(0.75);
    }
  }

  .title {
    img {
      display: block;
      margin: 0 auto;
      height: 300px;
      margin-top: 100px;
      box-shadow: 3px 3px 10px -2px #000;
      border-radius: 1px;
    }
  }
}

.modal {
  .content {
    padding: 3em;
  }
}

.manshar-article {

  header {
    .title {
      h1 {
        font-size: 2em;
      }

      .reading-time {
        font-size: 0.8em;
      }

      h2 {
        font-size: 1.6em;
      }
    }
  }

  .article-container {
    transition: transform .3s;
    &.anchored-comments-active {
      transform: translateX(350px);
    }

    article {
      font-size: 1.2em;
      figure {
        iframe {
          height: 450px;
        }
      }
      blockquote {
        font-size: 1.1em;
      }

      h1 {
        font-size: 1.75em;
      }

      h2 {
        font-size: 1.4em;
      }

      p {
        margin: 36px auto;
        margin-top: 36px;
      }
    }
  }
}

.article-meta {
  text-align: center;
  .meta-box {
    text-align: right;
    display: inline-block;
    margin: 1em;

    .meta-details {
      &.card {
        width: 350px;
      }
    }
  }
}

.article-header {
  .title {
    h1 {
      font-size: 2.1em;
    }
    h2 {
      font-size: 1.5em;
    }
  }
}

.comments-container {
  left: 20px;
}

.manshar-article-header {
  .image-cover {
    height: 15em;
  }
}

.manshar-profile {
  height: 100%;
}

.tabular {

  &.categories-list {
    width: 940px;
    margin: 0 auto;
    margin-top: 2em;
  }

  li {
    list-style: none;
  }

  .form-div {
    display: block;
    width: auto;
    text-align: right;
    padding-bottom: 1em;

    form {
      display: block;

      label {
        margin: 0 5px;

        &:first-child, &:last-child {
          margin: 0;
        }

        &.file-field {
          height: 50px;
          width: 90px;
          position: relative;

          &.with-image {
            input {
              border: none;
              opacity: 0.75;
            }
          }

          img {
            height: 50px;
            width: 90px;
          }

          input {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            padding: 2em 0.4em;
          }

        }
      }

      input, .input, textarea, button {
        margin: 0;
        display: inline-block;
        vertical-align: top;
        width: 240px;
        height: 50px;

        &.color-field, &.icon-class-field {
          width: 80px;
        }

      }

      .actions {
        display: inline-block;

        button {
          width: auto;
        }
      }
    }

    &.category {
      img {
        width: 100px;
      }
    }
  }
}

.category-list {
  .card.category {
    width: 180px;
    height: 160px;
    padding: 2em;

    i {
      font-size: 4em;
    }
  }
}

.topic-list {
  .card.topic {
    margin: 0.5em;
    cursor: pointer;
    width: auto;
    padding: 1em;
    text-align: center;

    &:hover {
      background-color: #E1F5FE;
    }

    &.new-topic {
      width: 500px;
      padding: 0.3em 0.8em;
    }
  }
}

.listing-types-tabs {
  height: 50px;
  bottom: 2.7em;
  width: auto;

  &.fixed {
    width: auto;
    margin-top: 0;
  }

  a {
    span {
      display: inline-block;
    }

    i {
      display: none;
    }

    &.active {
      i {
        display: inline-block;
      }
    }

    padding: .3em 1em;
  }
}

// Media Queries.
@media (min-width: 1280px) {
  .site-nav {
    .profile-badge {
      .new-button {
        display: block;
      }
    }
  }

  .terms-container {
    .manshar-article {
      width: 60%;
      margin: 0 auto;
    }
  }

  .main-header {
    .hero-unit {
      z-index: 10;
    }
  }

  .tray {
    padding: 0 10px;
  }
  .manshar-article {

    .article-container {
      transition: transform .3s;
      &.anchored-comments-active {
        transform: translateX(175px);
      }
    }

  }

  .comments-container {
    left: 0;

    .anchored-comment-box {
      .icon-count-container {
        top: 0;
        left: 0;

        span {
          top: -6px;
          font-size: 1em;
        }
      }
    }
  }

  .card-list {
    .card {
      width: 50%;
    }
  }

  .users-card-list {
    &.card-list {
      .card {
        width: 19%;
        margin: 0.5em 0;
        margin-right: 0.8333333333%;

        .header {
          height: 15em;

          .title {
            a {
              padding: 5.5em 1em;
            }
          }

        }
      }
    }
  }

}
