@import "bourbon";
@import "neat";

@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

@font-face {
    font-family: 'fontawesome-manshar';
    src: url('/styles/fonts/fa-manshar-webfont.eot?-kybycc');
    src: url('/styles/fonts/fa-manshar-webfont.eot?#iefix-kybycc') format('embedded-opentype'),
         url('/styles/fonts/fa-manshar-webfont.woff2?-kybycc') format('woff2'),
         url('/styles/fonts/fa-manshar-webfont.woff?-kybycc') format('woff'),
         url('/styles/fonts/fa-manshar-webfont.ttf?-kybycc') format('truetype'),
        url('/styles/fonts/fa-manshar-webfont.svg?-kybycc##fa-manshar-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="fa-"], [class*=" fa-"], [class="fa"] {
  font-family: 'fontawesome-manshar';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-bars:before {
   content: "\f0c9";
}

.fa-heart:before {
  content: "\f004";
}

.fa-th-large:before {
  content: "\f009";
}

.fa-close:before {
  content: "\f00d";
}

.fa-trash-o:before {
  content: "\f014";
}

.fa-clock-o:before {
  content: "\f017";
}

.fa-refresh:before {
  content: "\f021";
}

.fa-tag:before {
  content: "\f02b";
}

.fa-video-camera:before {
  content: "\f03d";
}

.fa-image:before {
  content: "\f03e";
}

.fa-pencil:before {
  content: "\f040";
}

.fa-edit:before {
  content: "\f044";
}

.fa-arrow-left:before {
  content: "\f060";
}

.fa-arrow-right:before {
  content: "\f061";
}

.fa-comment:before {
  content: "\f075";
}

.fa-thumbs-o-up:before {
  content: "\f087";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-facebook:before {
  content: "\f09a";
}

.fa-github:before {
  content: "\f09b";
}

.fa-group:before {
  content: "\f0c0";
}

.fa-google-plus:before {
  content: "\f0d5";
}

.fa-money:before {
  content: "\f0d6";
}

.fa-comment-o:before {
  content: "\f0e5";
}

.fa-desktop:before {
  content: "\f108";
}

.fa-thumbs-up:before {
  content: "\f164";
}

.fa-google:before {
  content: "\f1a0";
}

.fa-paint-brush:before {
  content: "\f1fc";
}

.fa-line-chart:before {
  content: "\e600";
}

.fa-angle-up:before {
  content: "\f106";
}

*{
  padding:0;
  margin:0;
  direction: rtl;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}
.form-div {

 &.center {
   margin-top: 3em;
 }

 margin: auto;
 width: 300px;

 header {
   @include row(table);

   img {
     display: inline-block;
     vertical-align: middle;
   }

   h1 {
     color: #3A3A3A;
     padding-right: 70px;
     display: inline-block;
     vertical-align: middle;
   }
 }

 .form-errors {
   background: #CA1504;
   color: #FFFFFF;
   line-height: 40px;
   padding: 4px;
   text-align: center;
 }

 .form-flash {
   background: #4CAF50;
   color: #FFFFFF;
   line-height: 40px;
   padding: 4px;
   text-align: center;

   .note {
     font-size: .7em;
   }
 }

 .oauth-providers {
   a {
     display: inline-block;
     width: 49%;
     padding: 0.5em;
     text-align: center;
     color: #fff;
     font-size: 0.8em;

     &.google-login-button {
       background-color: #D50000;

       &:hover {
         background-color: #B71C1C;
       }
     }

     &.facebook-login-button {
       background-color: #3F51B5;

       &:hover {
         background-color: #1A237E;
       }
     }
   }
 }

 form {
   @include row(table);
   margin: 1em 0;

   label {
     display: inline-block;
     vertical-align: top;
     margin: 5px 0;
   }

   input, .input {
     display: block;
     border: 1px solid #ECEBEC;
     font-size: 0.8em;
     padding: 10px;
     border-radius: 5px;
     width: 300px;
     transition: 300ms ease;

     &[type="file"] {
       font-size: 0.7em;
     }

     &:invalid {
       border-left: 4px solid #ECEBEC;
       box-shadow: 0 0 0px;
     }

     &:focus:invalid {
       border-left: 4px solid #E66565;
       box-shadow: 0 0 0px;
     }

     &:focus:valid, &:valid {
       border-left: 4px solid #44B387;
       box-shadow: 0 0 0px;
     }
   }

   button, a.button {
     @include button(simple, #CA1504);
     background-image: none;
     font-size: 0.8em;
     padding : 10px;
     text-align: center;
     width: 100%;
   }

   .actions {
     text-align: center;

     button {
       width: 88%;
     }
     a {
       padding: .5em;
       display: inline-block;
     }
   }
 }

 &.category {
   img {
     width: 100%;
   }
 }
}

.form-info {
 margin: 20px 0;
 font-size: 0.7em;
 color: #bbbaba;
 text-align: center;

 .signup-link {
   background-color: #F3EFEE;
   border-radius: 8px;
   color: #272F36;
   font-size: 1.1em;
   padding: 2px 10px;
 }
}

.admin-dashboard {
 margin-top: 2em;

 .header-label {
   margin: 1em 0;
 }
}

/**
 * Override Carbon Toolbar Styling.
 */
body.manshar {
  .editor-inline-toolbar {

    .editor-toolbar-buttons {

      &:after {
        border-color: #CA1504 transparent transparent transparent;
      }

      .button-container {
        button {
          background-color: #CA1504;
          color: #fff;
          padding: 0.7em .8em;
          font-size: 0.8em;
          line-height: 1;

          &:hover {
            background-color: #8E0E02;
          }
        }

        &.active  {
          button {
            background-color: #8E0E02;
          }
        }
      }
    }
  }


  .editor-block-toolbar {
    .editor-toolbar-buttons {
      button {
        background-color: transparent;
        padding: 0.3em 0.7em;
        width: auto;

        &:hover {
          background-color: transparent;
          color: #8E0E02;
        };
      }
    }
  }

  .extra-fields-container {
    top: -39px;
  }

  .editor-toolbar {
    z-index: 99;

    .extra-fields.active {
      background-color: #8E0E02;
    }
  }
}
