body {
  margin: 0;
  direction: rtl;
}

header {
  padding: 10px;
}

.manshar-logo {
  width: 64px;
}

header h1 {
  font-size: 48pt;
}

.manshar-tagline,
.manshar-snippet {
  color: #666;
}

ul.manshar-articles-list {
  list-style: none;
}

ul.manshar-articles-list li {
	margin: 50px 0;
}


.manshar-article h3 {
  font-size: 24pt;
}

.manshar-snippet {
  font-size: 16pt;
}

.manshar-article {
	width: 1024px;
	margin: 0 auto;
}

.manshar-article article {
	padding: 10px;
	font-size: 24pt;
	min-height: 34pt !important;
	text-align: justify;
}

.manshar-article h1 {
	font-size: 48pt;
	min-height: 58pt !important;
}

.manshar-article h2 {
	font-size: 36pt;
	min-height: 46pt !important;
	color: #999;
}

/* Match medium.css editor */
.manshar-article article p:first-child {
	margin-top: 0;
}

.manshar-article article p:last-child{
  margin-bottom: 0;
}
