body {
  margin: 0;
  direction: rtl;
}

header {
  padding: 10px;
}

.manshar-logo {
  width: 64px;
}

header h1 {
  font-size: 48pt;
}

.manshar-tagline, .manshar-snippet {
  color: #666;
}

ul.manshar-articles-list {
  list-style: none;
}

.manshar-article h3 {
  font-size: 24pt;
}

.manshar-snippet {
  font-size: 16pt;
}
