@import "bourbon";
@import "neat";

@font-face {
  font-family: Niloofar;
  src: url('/fonts/XB Niloofar.ttf');
}

@font-face {
  font-family: NiloofarBold;
  src: url('/fonts/XB NiloofarBd.ttf');
}


*{
  padding:0;
  margin:0;
  direction: rtl;
}

a {
  text-decoration: none;
}

body {
  font-family: Niloofar, serif;
  background: #f9f9f9;
}

.container{
  @include span-columns(12);
  position: relative;
  background-color: #f9f9f9;  
  height: 100%;
}

.scrollable{
  overflow: auto;
  transition-property: top, bottom;
  transition-duration: .2s, .2s;
  transition-timing-function: linear, linear;
  overflow-scrolling: touch;
}

.main-header {
  text-align: center;
  height: 300px;
  background: #f3efee;

  .hero-unit {
    @include span-columns(6);
    @include shift(3);
    vertical-align: middle;
    height: 100%;

    &:before {
      content: "";
      display: block;
      height: 20%;
    }
    
    h1 {
      font-size: 48pt;
    }
  }
}

.manshar-logo {
  width: 64px;
}

.manshar-tagline,
.manshar-snippet {
  color: #666;
}

.site-nav-logo {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 42px;
  z-index: 5;
  cursor: pointer;
}

.site-nav {
  background-color: #272F36;
  color: #F2F1F0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 264px;

  ul {
    margin: 80px 10px 0 0;
    list-style: none;
    line-height: 30px;
    letter-spacing: 1px;

    a {
      color: #F2F1F0;

      &::before, &::after {
        display: inline-block;
        opacity: 0;
        transition: transform 0.3s, opacity 0.2s;
      }

      &::before {
        margin-right: 10px;
        content: '[';
        transform: translateX(20px);
      }

      &::after {
        margin-left: 10px;
        content: ']';
        transform: translateX(-20px);
      }

      &:hover::before,  &:hover::after,  &:focus::before,  &:focus::after {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }
}

.author-details {
  text-align: center;

  img {
    width: 65px;
    border-radius: 500px;
    border: 2px solid white;
  }

  .author-name {
    font-size: 11pt;
  }
}

ul.manshar-articles-list {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding: 15px;
  word-wrap: break-word;

  li {
    margin: 50px 0;
    cursor: pointer;

    .article-details {
      .article-thumb {
        text-align: center;;

        .article-cover-thumb {
          width: 100%;
          max-width: 400px;
          border-radius: 500px;
        }

        .article-author-thumb {
          width: 75px;
          max-width: 400px;
          border-radius: 500px;
          margin-right: -150px;
          z-index: 50;
          position: relative;
          border: 7px solid white;
        }
      }
    }
  }
}

.manshar-snippet {
  font-size: 16pt;
}

.manshar-article {
  
  background-color: #ffffff;
  
  header {
    position: relative;
    overflow: hidden;
  }

  .manshar-article-image-container {
    background: #f3f3f3;
  }

  .manshar-article-image-container .manshar-article-img {
    position: absolute;
    height: 100%;
    min-width: 100%;
    top: 0;
    z-index: 1;
  }

  .manshar-article-header-image-aspect-ratio {
    display: block;
    width: 100%;
    height: auto;
  }

  .manshar-article-header {
    position: relative;
    padding: 50px;
    z-index: 99;

    .author-details {
      float: left;
      padding: 50px;

      .author-name {
        color: white;
      }

      img {
        border-color: white;
      }
    }
  }

  article {
    padding: 30px;
    font-size: 22pt;
    min-height: 300px !important;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    font-weight: 100;
    word-wrap: break-word;

    p {
      margin-top: 36px;
    }
  }

  h1 {
    font-size: 48pt;
    min-height: 88pt !important;
    color: white;
    text-shadow: 0px 1px 5px #000;
    font-family: NiloofarBold;
  }

  h2 {
    font-size: 26pt;
    min-height: 56pt !important;
    color: #fff;
    text-shadow: 0px 1px 5px #000;
    font-weight: 100;
  }

  h3 {
    font-size: 24pt;
  }

}

.metabar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 65px;
  z-index: 2;
  display: block;

  .manshar-controls {
    padding: 10px 0 0 10px;
    text-align: left;

    button {
      @include button(simple, #e48184);
      font-size: 14pt;
      padding : 10px 10px;
      width: 200px;
    }
  }
}

/* Match medium.css editor */
.manshar-article article p:first-child {
  margin-top: 0;
}

.manshar-article article p:last-child{
  margin-bottom: 0;
}

/* TODO(mkhatib): Consider removing Medium styles all together. */
/* Override some medium styles */
.Medium .Medium-placeholder{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
  filter: alpha(opacity=100) !important;
  opacity: 1 !important;
}


.form-div {
  @include span-columns(3);
  @include shift(5);

  padding-top:100px;

  header {
    @include row(table);

    img {
      float: right;
    }

    h1 {
      color: #3A3A3A;
      padding-right: 85px;
    }
  }

  form{
    @include row(table);
    padding: 10px 0;
    input, .input{
      display: block;
      border: 2px solid #ECEBEC;
      font-size: 20px;
      margin: 20px 3px;
      padding: 10px;
      border-radius: 5px;
      width: 300px;
    }

    button {
      @include button(simple, #e48184);
      font-size: 20px;
      padding : 10px 125px;
    }

    .info{
      margin: 10px 0;
      font-size: 11px;
      color: #bbbaba;

      .signup-link {
        background-color: #F3EFEE;
        border-radius: 8px;
        color: #272F36;
        font-size: 21px;
        margin-left: 6px;
        padding: 2px;
      }
    }
  }
}