<div class="container content-container">
  <div class="row clearfix">
    <div class="content-wrapper category-page">
      <div class="write-box">
        <a ng-click="createNewArticle()">
          <p> عبر عن رأيك. شارك خبراتك. اكتب عن تجاربك. دوّن بالعربية.</p>
          <p> اضغط هنا لتبدأ الكتابة... </p>
        </a>
      </div>

      <div class="category-info">
        <h3 class="section-title">
          <i class="circle-icon fa {{category.icon_cssclass}}" style="background-color:{{category.color}}"></i>
          {{category.title}}
        </h3>
        <p class="category-tagline">{{category.description}}</p>
      </div>

      <div class="category-topics">
        <ul class="topics card-list unstyled">
          <li ng-repeat="topic in topics" class="card topic" style="border-right-color: {{category.color}}">
            <a ui-sref="app.categories.topic.articles.list({topicId: topic.id, order: order || 'popular'})">
              {{topic.title}}
            </a>
          </li>
        </ul>
      </div>

      <div ng-include="'views/partials/_articles_order_tabs.html'"></div>

      <div ui-view class="tabs-content"></div>

    </div> <!-- .content-wrapper -->
  </div> <!-- row -->
</div> <!-- content-container -->
