<div class="body-wrapper authors-page">
  <div class="container content-container">
    <div class="row clearfix">
      <div class="content-wrapper profile-page">
        <div class="other-profiles">
          <div class="clearfix">
            <div class="authors-section"
              users-carousel
                order="published_articles_count"
                order-dir="ASC"
                selected-user="profile"
                users="publishers"
                auto-load="true"
                auto-load-buffer-count="3"></div>
          </div>
        </div>

        <div ui-view class="tabs-content"></div>

      </div>
    </div>
  </div>
</div>
