<div class="manshar-profile">
  <div class="avatar" manshar-cover url="{{user.cover_url}}">
    <div class="title">
      <h1>{{user.name}}</h1>
      <h4>{{user.bio}}</h4>
    </div>
  </div>
</div>

<ul class="manshar-articles-list one-column card-list">
    <li class="card" ng-repeat="article in articles">
      <div class="article-details article-card">
        <div class="header tray">
          <div class="title">
            <a ng-href="/articles/{{article.id}}">
              <h1>{{article.title}}</h1>
              <h2>{{article.tagline}}</h2>
            </a>
          </div>
        </div>
      </div>
    </li>
</ul>


<ul class="manshar-articles-list one-column card-list" ng-show="drafts[0]">
  <h1 class="header-label">
    <span>المسودات</span>
  </h1>
    <li ng-repeat="article in drafts" class="card">
      <div class="article-details article-card draft">
        <div class="header tray">
          <div class="title">
            <a ng-href="/articles/{{article.id}}">
              <h1>{{article.title}}</h1>
              <h2>{{article.tagline}}</h2>
            </a>
          </div>
        </div>
      </div>
    </li>
</ul>