<div class="stats-container one-column" ng-show="stats && user.id == profile.id">

  <div ng-repeat="stat in stats"
    class="article"
    ng-class="{'loading': stat.loading, 'blinking': stat.loading}"
    style="border-right: 1px solid {{stat.topic.category.color}}">

    <div class="title">
      <a ui-sref="app.articles.show({ articleId: stat.id })"
              analytics-on="click"
              analytics-event="click"
              analytics-category="UI"
              analytics-label="Article in Main Page - {{stat.title}}"
              analytics-value="article-{{stat.id}}">
        <h2>{{stat.title || 'بدون عنوان'}}</h2>
      </a>
    </div>

    <div class="article-stats clearfix">
      <p> {{stat.page_views_count}} <i class="fa fa-eye"></i> </p>
      <p> {{stat.reads_count}} <i class="fa fa-book"></i> </p>
      <p> {{stat.comments_count}} <i class="fa fa-comment"></i> </p>
      <p> {{stat.recommendations_count}} <i class="fa fa-thumbs-o-up"></i> </p>
    </div>

  </div>

</div>