<h3 class="section-title"> <i class="circle-icon fa fa-th-large"></i>اقرأ في الفئات</h3>

<div class="clearfix">
  
  <div class="category-block block category-1">
    <div class="category-content">
      <i class="large-icon fa fa-paint-brush"></i>
      <p> فن وأدب </p>
    </div>
  </div>
  <div class="category-block block category-2">
    <div class="category-content">
      <i class="large-icon fa fa-heart"></i>
      <p> صحة ورياضة </p>
    </div>
  </div>
  <div class="category-block block category-3">
    <div class="category-content">
      <i class="large-icon fa fa-video-camera"></i>
      <p> إعلام وتسويق </p>
    </div>
  </div>
  <div class="category-block block category-4">
    <div class="category-content">
      <i class="large-icon fa fa-desktop"></i>
      <p> علوم وتكنولوجيا </p>
    </div>
  </div>
  <div class="category-block block category-5">
    <div class="category-content">
      <i class="large-icon fa fa-group"></i>
      <p> سياسة ومجتمع </p>
    </div>
  </div>
  
  <div class="category-block block category-6">
    <div class="category-content">
      <i class="large-icon fa fa-money"></i>
      <p> مال وأعمال </p>
    </div>
  </div>
</div>