<div class="form-div center" ng-controller="LoginCtrl">

  <div ng-include="'views/partials/_form_header.html'"></div>
  <div class="form-errors" ng-show="error">{{error}}</div>

  <form id="login-form" ng-submit="login(user)" name="loginForm">
    <label>
      <input
        type="email"
        ng-model="user.email"
        required
        autofocus
        placeholder="البريد الالكتروني"
      />
    </label>

    <label>
      <input
        type="password"
        ng-model="user.password"
        required
        placeholder="كلمة المرور"
      />
    </label>

    <button
      type="submit">
      دخول</button>
  </form>

</div>
