<div class="form-div center" ng-controller="LoginCtrl">
  <div class="write-box text-dark">
    <p> تسجيل الدخول </p>
  </div>

  <div class="form-errors" ng-show="error">{{error}}</div>

  <div class="form-flash" ng-show="flash">
    {{flash}}
    <p class="note">{{flashNote}}</p>
  </div>

  <form class="note-form">
    <button ng-click="resendConfirmation(userForm)" ng-show="nonConfirmed">
      أرسل التفعيل مرة أخرى
    </button>
  </form>

  <form id="login-form" ng-submit="login(userForm)" name="loginForm">
    <label>
      <input
        type="email"
        ng-model="userForm.email"
        required
        autofocus
        placeholder="البريد الالكتروني"
      />
    </label>
    <label>
      <input
        type="password"
        ng-model="userForm.password"
        required
        placeholder="كلمة المرور"
      />
    </label>
    <input type="submit" id="submit" value="Submit" class="ng-hide"/>
    <h3 class="section-title action-button text-small">
      <a ng-click="login(userForm)">
        <i class="circle-icon fa fa-sign-in"></i>
        <span>
          تسجيل الدخول
        </span>
      </a>
    </h3>
  </form>

  <div>
    <h3 class="section-title action-button text-small">
      <a ng-click="authenticate('gplus')">
        <i class="circle-icon fa fa-google"></i>
        <span>
          سجل باستخدام جوجل
        </span>
      </a>
    </h3>
    <h3 class="section-title action-button text-small">
      <a ng-click="authenticate('facebook')">
        <i class="circle-icon fa fa-facebook"></i>
        <span>
          سجل باستخدام فيسبوك
        </span>
      </a>
    </h3>
  </div>
</div>
