<div class="form-div center" ng-controller="PasswordController">
  <div ng-include="'views/partials/_form_header.html'"></div>
  <div class="form-errors" ng-show="error">{{error}}</div>

  <form id="login-form" ng-submit="reset(user)" name="loginForm">
    <label>
      <input
        type="email"
        ng-model="user.email"
        required
        autofocus
        placeholder="البريد الالكتروني"
      />
    </label>

    <button
      type="submit">
      استعادة كلمة المرور</button>
  </form>
</div>
