<div class="form-div center" ng-controller="LoginCtrl">

  <div class="write-box form-title">
    <p>استعادة كلمة المرور</p>
  </div>

  <div class="form-div center" ng-controller="ResetPasswordController">

    <div class="form-errors" ng-show="error">{{error}}</div>

    <form id="login-form" ng-submit="reset(userForm)" name="loginForm">
      <label>
        <input
          type="email"
          ng-model="userForm.email"
          required
          autofocus
          placeholder="البريد الالكتروني"
        />
      </label>

      <button
        type="submit">
        استعادة كلمة المرور</button>
    </form>
  </div>

</div>

