<div class="sharing-box">
  <a ng-href="http://www.facebook.com/sharer.php?u={{linkPrefix}}/articles/{{article.id}}" target="blank"
      analytics-on="click"
      analytics-event="click"
      analytics-category="UI"
      analytics-label="Facebook Share - {{article.title}}"
      analytics-value="article-{{article.id}}">
    <i class="circle-icon fa fa-facebook"></i>
  </a>
  <a ng-href="http://www.twitter.com/share?text={{article.title}}&url={{linkPrefix}}/articles/{{article.id}}" target="blank"
      analytics-on="click"
      analytics-event="click"
      analytics-category="UI"
      analytics-label="Twitter Share - {{article.title}}"
      analytics-value="article-{{article.id}}">
    <i class="circle-icon fa fa-twitter"></i>
  </a>
  <a ng-href="https://plus.google.com/share?url={{linkPrefix}}/articles/{{article.id}}" target="blank"
      analytics-on="click"
      analytics-event="click"
      analytics-category="UI"
      analytics-label="Google+ Share - {{article.title}}"
      analytics-value="article-{{article.id}}">
    <i class="circle-icon fa fa-google-plus"></i>
  </a>
</div>