<div class="form-div center" ng-controller="SignupCtrl">
  <div ng-include="'views/partials/_form_header.html'"></div>
  <div class="form-errors" ng-show="error">
    <ul>
      <!-- TODO(HammamSamara) Will enhance this once we have Arabic strings from backend -->
      <li ng-repeat="(key, data) in errorMessages">{{key}} {{data}}</li>
    </ul>
  </div>
  <div class="form-flash" ng-show="flash">
    {{flash}}
    <p class="note">{{flashNote}}</p>
  </div>
  <form id="signup-form" name="signupForm" ng-submit="signup(userForm)" ng-hide="flash">

    <label>
      <input
        type="email"
        ng-model="userForm.email"
        required
        placeholder="البريد الإلكتروني" />
    </label>

    <label>
      <input
        type="password"
        ng-model="userForm.password"
        required
        pattern=".{8,}"
        placeholder="كلمة المرور - ٨ حروف على الأقل" />
    </label>

    <label>
      <input
        type="text"
        ng-model="userForm.name"
        autofocus
        required
        placeholder="الاسم بالعربية"
        pattern="([\u0600-\u06ff]|[\u0750-\u077f]|[\ufb50-\ufc3f]|[\ufe70-\ufefc])+(\s*([\u0600-\u06ff]|[\u0750-\u077f]|[\ufb50-\ufc3f]|[\ufe70-\ufefc])*?)*" title="أدخل الاسم بالعربية"/>
    </label>

    <button type="submit">تسجيل حساب جديد</button>
  </form>
</div>
