<h3 class="section-title"> <i class="circle-icon fa fa-group"></i>الناشرون</h3>

<div class="clearfix">
  <div class="author-block small-block block" ng-repeat="user in publishers">
    <a ui-sref="app.publishers.profile.user.published({ userId: user.id })">
      <div class="dimmer"></div>
      <div class="cover" data-manshar-cover url="{{user.thumb_url}}"></div>
      <span ng-show="user.published_articles_count">
        <i class="fa fa-edit"></i> {{user.published_articles_count}}
      </span>
      <p class="author-name"> {{user.name}} </p>
    </a>
  </div>

  <div class="author-block block" ng-if="currentState != 'publishers'">
    <a ui-sref="app.publishers">
      <div class="dimmer"></div>
      <span><i class="fa fa-group"></i> </span>
      <p> الكل </p>
    </a>
  </div>
</div>
