<div class="manshar-article">
  <div class="article-container">
    <article>
      <h1>شروط استخدام منشر</h1>
      <p>
        منشر غير مسؤول عن محتوى المقالات ويتحمل الكاتب كامل المسؤولية عن محتوى مقالاته.
      </p>
      <p>
        نحن لا نقوم بمراجعة المقالات والموافقة عليها ويتم عرض جميع المقالات التي ينشرها مستخدمو منشر.
      </p>
      <h3>محتوى مقالك</h3>
      <p>
        أنت تتحمل كامل المسؤولية للمحتوى الذي تنشره وما يترتب عليه من مسؤوليات، ومن ضمنها اعتماد الاخرين على صحة ما تنشره، وادعاءات الاخرين بمواضيع تتعلق بتملك المحتوى أو الملكية الفكرية أو أي حقوق قانونية أخرى. بنشرك للمقال أنت تعلن بأنك تمتلك كافة الحقوق اللازمة لنشر المحتوى.
      </p>
      <p>
        أنت المالك للمقال الذي تنشره على منشر ولن يقوم منشر بتملك أي مقال لك. ولكن بنشرك المقال على منصتنا فأنت توافق على عرضه للاخرين وتعطينا الحق باستخدام مقالاتك بالطريقة التي نراها مناسبة لتوفير خدماتنا، مثل عرض المقال ونشره وتخزينه واستخدامه في مواد اعلامية واشياء أُخرى نراها تتماشى مع المنصة. ولن يتم بيع مقالاتك لأي جهة.
      </p>
      <p>
        نحتفظ بحق حذف أو رفض أي مقال لأي سبب كان وخاصة اذا تنافى مع قوانين وشروط منشر.
      </p>
      <p>
        لديك كامل الحرية بحذف أي مقال او تعليق لك في أي وقت تريده.
      </p>
      <h3>بإمكاننا تغيير شروط الاستخدام في أي وقت</h3>
      <p>
        نحتفظ بحق تغيير شروط الاستخدام لمنصة منشر في أي وقت. وسنقوم بإعلامك عن أي تغيير يحصل قبل فترة من التغيير، ونعطيك كافة المعلومات المتعلقة بهذا التغيير.
      </p>
      <h3>بإمكاننا تعديل خدماتنا في أي وقت</h3>
      <p>
        نعمل في منشر على توفير خدمات يعتمد عليها، ونضيف ونعدل على خدماتنا طوال الوقت. لذلك بإمكاننا تعديل واضافة او الغاء أي خدمة في أي وقت.
      </p>
      <h3>منشر نسخة تجريبية</h3>
      <p>
        منشر الان في المرحلة التجريبية. لا يتحمل منشر مسؤولية فقدان أي معلومات خلال استخدام المنصة. نعمل بشكل دائم على تحسين الخدمة لتوفير منصة يعتمد عليها.
      </p>
      <h1>قوانين منشر</h1>
      <p>
        منشر يشجع على التفكير الحر ومشاركة الأفكار والآراء المختلفة. ننتظر منك احترام تعدد الافكار والالتزام بالقوانين للمشاركة في منشر. نعتقد بأن الاختلاف شيء جيد ويساعد على توسيع الأفق واعطائك نواحي أخرى للتفكير في موضوع معين وربما يتسبب بتعلمك لأشياء جديدة. ولكن نتفهم أيضا شعورك بالإحباط أحيانا من بعض وجهات النظر ولكن هذا لا يعني أن تقوم بتصرف غير لائق او تخرق القوانين.
      </p>
      <p>
        لأننا نريد أن يكون منشر مساحة نشر للجميع، لتزدهر فيه أفكار مختلفة، فهناك عدد من القوانين التي نحتاجها للحفاظ على هذا الهدف.
      </p>
      <ol>
        <li> ممنوع أن تهدد أي مستخدم بالعنف</li>
        <li> ممنوع ممارسة البلطجة والتحرش ضد مستخدمي منشر</li>
        <li>
          لا تستخدم أي أساليب خادعة ومضللة مثل استخدام تضليل المستخدمين لتوليد حركة مرور لموقعك، او استخدام منشر بطريقة اوتوماتيكية لتسجيل كميات من المستخدمين ونشر مقالات بهذه الحسابات بشكل اتوماتيكي.
        </li>
        <li>لا تستخدم أي محتوى لا تملكه أو تملك الحق بنشره</li>
        <li>ممنوع مشاركة أو نشر محتوى إباحي</li>
      </ol>
      <p>
        اذا قمت بخرق قوانين منشر، سنقوم بتحذيرك وإعطائك فرصة لتفسير موقفك ونحتفظ بحق حذف حسابك أو القيام بأي اجراءات نراها مناسبة كرد لخرقك القوانين. ويمكننا أيضا إيقاف أو حذف حسابك أو مقالك بدون اعطائك أي تحذير.
      </p>
      <p>
        نحتفظ بحق تطبيق القوانين بحسب ما نراه مناسبا. كما نحتفظ بحق تعديل أو اضافة قوانين لهذه القائمة.
      </p>
    </article>
  </div>
</div>
