<div class="form-div" ng-controller="UpdatePasswordController">
  <div ng-include="'views/partials/_form_header.html'"></div>
  <div class="form-errors" ng-show="error">{{error}}</div>

  <form id="login-form" ng-submit="update(userForm)" name="loginForm">

    <label>
      <input
        type="password"
        ng-model="userForm.password"
        required
        placeholder="كلمة المرور الجديدة"
      />
    </label>

    <label>
      <input
        type="password"
        ng-model="userForm.password_confirmation"
        required
        placeholder="تأكيد كلمة المرور"
      />
    </label>

    <button
      type="submit">
      تغيير كلمة المرور</button>
  </form>
</div>
