<div class="form-div center" ng-controller="LoginCtrl">

  <div class="write-box form-title text-dark">
    <p>تغيير كلمة المرور</p>
  </div>

  <div class="form-div center" ng-controller="UpdatePasswordController">

    <div class="form-errors" ng-show="error">{{error}}</div>

    <form id="login-form" ng-submit="update(userForm)" name="loginForm">

      <label>
        <input
          type="password"
          ng-model="userForm.password"
          required
          placeholder="كلمة المرور الجديدة"
        />
      </label>

      <label>
        <input
          type="password"
          ng-model="userForm.password_confirmation"
          required
          placeholder="تأكيد كلمة المرور"
        />
      </label>
      <input type="submit" id="submit" value="Submit" class="ng-hide"/>

      <h3 class="section-title action-button text-small">
        <a ng-click="update(userForm)">
          <i class="circle-icon fa fa-sign-in"></i>
          <span>
            تغيير كلمة المرور
          </span>
        </a>
      </h3>
    </form>
  </div>
</div>
